.gheader {
  justify-content: center;
  align-items: baseline;
  margin-bottom: 3rem;
}

.gheaderlogic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
